.todo-list-template {
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  margin-top: 4rem;
}
.title {
  padding: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: rgb(70, 71, 71);
  color: white;
}

#inputTodo {
  flex: 1;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #c5f6fa;
}
#todoBtn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  background: rgb(78, 83, 83);
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#todoBtn:hover {
  background: #0a006650;
}
#todo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.todo-item {
  padding: 30px;
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
  gap: 50px;
  justify-content: space-between;
}

.todo-item button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgb(78, 83, 83);
  border-radius: 3px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.todo-item button:hover {
  background: #00000050;
}


/* todo-item 사이에 윗 테두리 */
.todo-item + .todo-item {
  border-top: 1px solid #f1f3f5;
}


.done {
  text-decoration: line-through;
  color: #adb5bd;
}

