nav{
  display: flex;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.233);
}

nav li{
  display: inline;
  padding: 0 20px;
  
}
nav a{
  text-decoration: none;
  font-size: 25px;
  font-weight: 350;
  color: black;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
  width: 50%;
  margin: auto;
  padding: 50px 0 80px 0;
}
.box h1{
  text-align: center;
}


.code{
  background-color: #ebebeb;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;

}

.codeIner{
  width: 50%;
}

.code p{
  font-size: 20px;
}

.codeView1{
  background-color: #ebebeb;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  width: 50%;
  color: red;
}

.codeView p{
  margin: 50px;
}

.boxFooter{
  margin: 50px;
  font-size: 10px;
}

.codeView2{
  background-color: #ebebeb;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  width: 50%;
}

.codeView2 li{
  /* width: 50%;
  justify-content: center;
  text-align:justify; */
  margin: auto;
}

.codeView3 a:link{
  background-color: #ebebeb;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  width: 50%;
}

.codeView3 a:visited{
  /* width: 50%;
  justify-content: center;
  text-align:justify; */
  margin: auto;
  color: purple;
}

.codeView4{
  background-color: #ebebeb;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  width: 50%;
}

.codeView4 li a{
  text-decoration: none;
}
